<div ng-controller= "displayController">


<p>Donnie Darko, a teenager with <span class="darko">{{madLibsWord.illness}}</span>, meets a strange man
  dressed in a <span class="darko">{{madLibsWord.nounone}}</span> costume while
  <span class="darko">{{madLibsWord.verbone}}</span> one night.
  This man tells him there are <span class="darko">{{madLibsWord.lengthoftime}}</span>'s left until
  <span class="darko">{{madLibsWord.catastrophicevent}}</span> happens. That same night, a
  <span class="darko">{{madLibsWord.nountwo}}</span> crashes into Donnie's room.
  Having been saved by the strange man, Donnie begins to <span class="darko">{{madLibsWord.verbtwo}}</span>
</p>

</div>
